/* Estilo general */
body {
  font-family: system-ui;
  background: #dfd4d6;
}

.container {
  text-align: center;
}

/* Estilo de la barra de navegación personalizada */
.custom-navbar {
  background-color: #dc3545;
  width: auto;
  height: 80px;
  border-radius: 25px;
  margin: 10px 20px;
  font-family: system-ui;
  overflow: visible;
}

/* Estilo de la tarjeta */
.card {
  background-color: #dfd4d6;
  border: 5px solid #dc3545; /* Cambia el color del borde a rojo */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: auto;
  height: 250px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Cambiar el color del encabezado a rojo */
.card-header {
  background-color: #dc3545 !important; /* Sobrescribe el color azul predeterminado de Bootstrap */
  color: white; /* Asegura que el texto se vea bien sobre el fondo rojo */
}

.card-title {
  color: #dc3545;
}

/* Estilo del formulario de inicio de sesión */
#iniciosesion {
  background-color: #ff914d;
  color: white;
}

h4 {
  color: #dfd4d6;
  font-family: system-ui;
}

/* Estilo de botones */
.custom-btn, .btn {
  background-color: #ff914d;
  color: white;
  font-family: system-ui;
  border-radius: 50px;
  border: solid #ff914d;
  padding: 10px 20px;
  margin-top: 10px;
  text-align: center;
}

.custom-btn:hover, .btn:hover {
  background-color: #ff914d;
  font-weight: bold;
  color: white;
}

.custom-btn:active, .btn:active,
.custom-btn:focus, .btn:focus {
  background-color: white;
  color: #ff914d;
  font-weight: bold;
  border: 2px solid white;
}

/* Estilo para el contenedor principal */
.container2 {
  margin: 50px auto;
  width: 90%;
}

/* Estilo de usuario */
.usuario {
  background-color: transparent;
  border: none;
  padding: 0;
}

.usuario img {
  display: block;
  margin: auto;
}

.usuario:hover {
  background-color: transparent;
}

/* Menú desplegable */
.dropdown-menu {
  background-color: #ff914d;
}

.dropdown-item {
  color: white;
}

/* Ajuste de tamaño del contenedor */
.card-container {
  max-width: 400px; /* Ajuste del tamaño máximo */
  margin: 0 auto; /* Centrando el contenedor */
  border: 2px solid #ff914d; /* Borde naranja */
  border-radius: 10px; /* Bordes redondeados */
  background-color: #dfd4d6; /* Color de fondo del contenedor */
}

/* Estilo del encabezado */
.card-header {
  background-color: #dc3545; /* Fondo rojo */
  color: #dfd4d6; /* Color de texto igual al fondo de la página */
  text-align: center; /* Centra el texto */
  font-weight: bold; /* Opción para resaltar el texto */
}
